* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
  
  #header .home {
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 30, 80);
  }
  #header .menu{
    display: flex;
  }

  #header .menu ul {
    display: flex;
  }
  
  #header .menu ul li {
    list-style: none;
    text-align: center;
    position: relative;
    width: 130px;
    padding: 12px 18px;
  }
  
  #header .menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  #header .logo {
    position: relative;
    color: aliceblue;
  }
  
  #header .logo::after {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #20232F;
    animation: toRight 1s linear forwards;
  }
  
  @keyframes toRight {
    100% {
      width: 0%;
    }
  }
  
  #header .logo h3 {
    background: linear-gradient(200deg,rgb(107, 255, 114), rgb(29, 206, 250), rgb(252, 126, 241));
    filter: drop-shadow( 0 5px 3px rgb(236, 213, 245));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-size: 25px;
    font-weight: 550;
    margin-top: 5px;
    margin-left: 20px;
  }
  
  #header .list .tab {
    font-size: 13px;
    /* font-size: 15px; */
    position: relative;
    color: #fff;
    list-style: none;
    margin: 0 20px;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  #header .list .tab:hover a {
    color: rgb(252, 32, 62);
  }
  
  #header .list .tab::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: rgb(252, 32, 62);
    bottom: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: all 0.3s;
  }
  
  #header .list .tab::after {
    content: "";
    position: absolute;
    right: 50%;
    width: 0%;
    height: 2px;
    background-color: rgb(252, 32, 62);
    bottom: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    transition: all 0.45s;
  }
  
  #header .list .tab:hover::before,
  #header .list .tab:hover::after {
    width: 50%;
  }
  #header .banner {
    position: relative;
    height: 500px;

}
.btn2 {
  --bg: #000;
  --hover-bg: rgb(252, 6, 38);
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: 13px;
  }
  .btn2:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
  }
  .btn2:active {
  transform: translate(0);
  box-shadow: none;
  }
  .btn2 a{
    text-decoration: none;
    color: white;
    font-size: 13px;
  }
#header  .banner img {
    width: 100%;
    height: 100%;
}
.title{
    text-align: center;
    padding: 5px;
}
#body .yatch .list-yatch{
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    margin-left: 30px;
    margin-right: 20px;
}
#body .yatch .list-yatch .card{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color:rgb(243, 241, 241);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-radius: 24px;
    box-shadow: 0 3px 3px rgb(197, 197, 197);

}
#body .yatch .list-yatch .card img{
    width: 500px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-radius: 18px;

}

#body .yatch .list-yatch .card .word p{
  margin-bottom: 5px;
  margin-left: 10px;
}
#body .yatch .list-yatch .card .word h3{
  margin: 5px;
}
#body .yatch .list-yatch .card .word .low{
  display: flex;
  justify-content:space-between;
}
.btn {
  --bg: #000;
  --hover-bg: rgb(81, 243, 255);
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 20px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: 13px;
  }
  .btn:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
  }
  .btn:active {
  transform: translate(0);
  box-shadow: none;
  }
  .btn a{
  text-decoration: none;
  color: white;
  font-size: 13px;
}
  .btn:hover>a{
    color: #000;
  }

#body .plane .box{
  margin: 100px;
  padding: 50px;
  border: 1px solid #575656;
  border-radius: 30px;

}
#body .plane .box h2{
  text-align: center;
}
/* #body .plane .box .ticket{
  padding-top: 30px;
  
} */
#body .plane .box .cb{
  display: flex;
}
#body .plane .box .cb .cb1{
  margin-left: 20px;
}
#body .plane .box .dd {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;

}
#body .plane .box .dd .ni{
  padding: 0.6rem 6rem;
  color: #20232F;
  font-size: 1.5rem;
  border-radius: 30px;
}
#body .plane .box .dd .nl{
  position:absolute;
  top: 0.6rem;
  left: 5rem;
  color: #000;
  font-size: 1.5rem;
  transition: 0.4s all;
  padding-inline:0.25rem ;
}
#body .plane .box .dd .ni:focus~.nl,#body .plane .box .dd .ni:valid~.nl{
  top: -0.5rem;
  left: 5rem;
  background-color: #fff;
  font-size: 1rem;
}
#body .plane .box .dd .ni1{
  padding: 0.6rem 6rem;
  color: #20232F;
  font-size: 1.5rem;
  border-radius: 30px;
}
#body .plane .box .dd .nl1{
  position:absolute;
  top: 0.6rem;
  left: 36rem;
  color: #000;
  font-size: 1.5rem;
  transition: 0.4s all;
  padding-inline:0.25rem ;
}
#body .plane .box .dd .ni1:focus~.nl1,#body .plane .box .dd .ni1:valid~.nl1{
  top: -0.5rem;
  left: 36rem;
  background-color: #fff;
  font-size: 1rem;
}
#body .plane .box .sl {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly ;

}
#body .plane .box .sl .ni{
  padding: 0.6rem 2rem;
  color: #20232F;
  font-size: 1.5rem;
  border-radius: 30px;
}
#body .plane .box .sl .nl{
  position:absolute;
  top: 0.6rem;
  left: 4rem;
  color: #000;
  font-size: 1.5rem;
  transition: 0.4s all;
  padding-inline:0.25rem ;
}
#body .plane .box .sl .ni:focus~.nl,#body .plane .box .dd .ni:valid~.nl{
  top: -0.5rem;
  left: 3rem;
  background-color: #fff;
  font-size: 1rem;
}
#body .plane .box .sl .ni1{
  padding: 0.6rem 2rem;
  color: #20232F;
  font-size: 1.5rem;
  border-radius: 30px;
}
#body .plane .box .sl .nl1{
  position:absolute;
  top: 0.6rem;
  left: 25rem;
  color: #000;
  font-size: 1.5rem;
  transition: 0.4s all;
  padding-inline:0.25rem ;
}
#body .plane .box .sl .ni1:focus~.nl1,#body .plane .box .sl .ni1:valid~.nl1{
  top: -0.5rem;
  left: 25rem;
  background-color: #fff;
  font-size: 1rem;
}
#body .plane .box .sl .ni2{
  padding: 0.6rem 2rem;
  color: #20232F;
  font-size: 1.5rem;
  border-radius: 30px;
}
#body .plane .box .sl .nl2{
  position:absolute;
  top: 0.6rem;
  left: 47rem;
  color: #000;
  font-size: 1.5rem;
  transition: 0.4s all;
  padding-inline:0.25rem ;
}
#body .plane .box .sl .ni2:focus~.nl2,#body .plane .box .sl .ni2:valid~.nl2{
  top: -0.5rem;
  left: 47rem;
  background-color: #fff;
  font-size: 1rem;
}
#body .plane .box .info .btn3{
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 30px;
  margin-left: 400px;
  margin-top: 20px;
}
.ni:hover,.ni1:hover,.ni2:active{
      filter: drop-shadow( 0 1px 3px rgb(178, 250, 244));

}
#body .plane .box .info button a{
  text-decoration: none;
}
#body .plane .box .info .btn3:hover{
  background-color: aquamarine;
  filter: drop-shadow( 0 1px 3px rgb(178, 250, 244));

}

#body .plane .box .info{
  margin: 30px;
}
  #body .blog .conten{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;

  }
#body .blog .conten .card img{
  width: 350px;
  height: 350px; border-radius: 30px;
}
#body .blog .conten .card .title{
  /* margin-top: -70px;
  margin-bottom: 80px; */
  position: absolute;
  bottom: -50%;
  padding: 15px;
  opacity: 0;
  transition: 0.5s bottom, 1.75s opacity;
  color: #fff;
  display: flex;
}
#body .blog .conten .card .title button{
  margin-left: 43px;
  padding: 5px;
  border-radius: 20px;

}
#body .blog .conten .card .title button {
  --bg: #000;
  --hover-bg: rgb(81, 243, 255);
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 20px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: 13px;
  }
  #body .blog .conten .card .title button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
  }
  #body .blog .conten .card .title button:active {
  transform: translate(0);
  box-shadow: none;
  }
  #body .blog .conten .card .title button a{
  text-decoration: none;
  color: white;
  font-size: 13px;
}
#body .blog .conten .card .title button:hover>a{
    color: #000;
  }
#body .blog .conten .card .layer{
  background: linear-gradient(to top,rgba(0,0,0,1), rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  opacity: 0;
  transition: 0.3s;
  border-radius: 30px;
}
#body .blog .conten .card:hover,#body .blog .conten .card:hover img,#body .blog .conten .card:hover .layer{
  transform: scale(1.1);
}
#body .blog .conten .card:hover>.title{
  opacity: 1;
  bottom: 0;
}

#body .blog .conten .card:hover .layer{
  opacity: 1;
}
  #footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 150px 30px 150px;
    background-color: rgb(5, 30, 80) ;
    color: rgb(180, 179, 178);
  }
  #footer .lanhin4, #footer .mindxin4{
    margin-top: 20px;
  }
#footer .mindxin4 i{
    color: rgb(85, 231, 250);
    
}
#footer .lanhin4 i{
    color: rgb(85, 231, 250);
}
#footer .mindxin4 i:hover{
    color: rgb(241, 245, 43);
}
#footer .lanhin4 i:hover{
    color: rgb(241, 245, 43);
}
#footer .mindxin4 h3,
#footer .lanhin4 h3 {
  color: #0f0f0f;
}
#asd{
  background-color: rgb(5, 30, 80);
  text-align: center;padding-top: 20px;
}